## Calculate GWP based on AGWP output

In [1]:
filepath= r"./output/"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import itertools
import matplotlib.patches as mpatches
from matplotlib import gridspec
pd.set_option('display.float_format', lambda x: '{:,.3f}'.format(x) if abs(x)<0 else ('{:,.2f}'.format(x) if abs(x)<10 else ('{:,.1f}'.format(x) if abs(x)<100 else '{:,.0f}'.format(x))))

In [3]:
tittel = 'H2 GWP'
ytittel ='GWP'


#IPCC AR6 values
agwp100_CO2 = 0.0895
agwp20_CO2 = 0.0243 
agwp500_CO2 = 0.314

In [4]:


default_size = 18
plt.rc('font', size=default_size)
plt.rc('axes', titlesize=default_size)     # fontsize of the axes title
plt.rc('axes', labelsize=default_size)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=default_size)    # fontsize of the tick labels
plt.rc('ytick', labelsize=default_size)    # fontsize of the tick labels
plt.rc('legend', fontsize=16)    # legend fontsize
plt.rc('figure', titlesize=default_size)

#Defining some colors:
CH4_color = "lightseagreen"
O3_color = "gold"
H2O_color = "darkviolet"
H2_color = 'lightblue'

#Defining some legend looks:
CH4_legend = mpatches.Patch( facecolor=CH4_color,label='CH4')
O3_legend= mpatches.Patch( facecolor=O3_color, label='O3')
H2O_legend= mpatches.Patch( facecolor=H2O_color, label='strat H2O')


model_dict = { 'GFDL_nudge':'GFDL',
               'OSLOCTM3':'OsloCTM',
               'INCA':'INCA',
               'UKCA':'UKCA',
               'WACCM6-2deg':'WACCM',
               'GFDL-emi':'GFDL-emi',
               'OSLOCTM3-emi':'OsloCTM-emi'
             }

sorted_array = ['GFDL','OsloCTM','INCA','UKCA','WACCM','GFDL-emi','OsloCTM-emi']

In [5]:
df_table_agwp = pd.read_csv(filepath+'table_h2_agwp.csv',index_col=0)
df_table_agwp.rename(index=model_dict, inplace=True)
df_table_agwp

,h2_agwp_ch4,h2_agwp_o3,h2_agwp_h2o,h2_agwp_ch4ind_o3,h2_agwp_ch4ind_h2o
OsloCTM,0.48,0.22,0.17,0.24,0.06
WACCM,0.50,0.18,0.05,0.27,0.02
INCA,0.48,0.15,0.11,0.13,0.04
GFDL-emi,0.44,0.39,0.26,nan,nan
OsloCTM-emi,0.49,0.22,0.18,0.25,0.06
UKCA,0.41,0.11,nan,0.13,nan
GFDL,0.48,0.21,0.16,0.20,0.12

In [6]:
rename_columns = {'h2_agwp_ch4':'gwp_ch4',
                  'h2_agwp_o3':'gwp_o3',
                  'h2_agwp_h2o':'gwp_h2o',
                  'h2_agwp_ch4ind_o3':'gwp_ch4ind_o3',
                  'h2_agwp_ch4ind_h2o': 'gwp_ch4ind_h2o'}

## GWP 100

In [7]:
df_table_gwp_100 = df_table_agwp/agwp100_CO2
df_table_gwp_100.rename(columns=rename_columns,inplace=True)
df_table_gwp_100

             gwp_ch4  gwp_o3  gwp_h2o  gwp_ch4ind_o3  gwp_ch4ind_h2o
OsloCTM         5.35    2.44     1.94           2.73            0.67
WACCM           5.64    1.97     0.58           3.00            0.27
INCA            5.34    1.64     1.27           1.47            0.44
GFDL-emi        4.95    4.34     2.93            nan             nan
OsloCTM-emi     5.47    2.49     1.97           2.80            0.69
UKCA            4.60    1.19      nan           1.47             nan
GFDL            5.40    2.34     1.80           2.24            1.34

## GWP 500

In [8]:
df_table_gwp_500 = df_table_agwp/agwp500_CO2
df_table_gwp_500.rename(columns=rename_columns,inplace=True)
df_table_gwp_500

             gwp_ch4  gwp_o3  gwp_h2o  gwp_ch4ind_o3  gwp_ch4ind_h2o
OsloCTM         1.52    0.70     0.55           0.78            0.19
WACCM           1.61    0.56     0.16           0.86            0.08
INCA            1.52    0.47     0.36           0.42            0.13
GFDL-emi        1.41    1.24     0.84            nan             nan
OsloCTM-emi     1.56    0.71     0.56           0.80            0.20
UKCA            1.31    0.34      nan           0.42             nan
GFDL            1.54    0.67     0.51           0.64            0.38

## GWP 20

For GWP20: 
For AGWP20, perturbations tied to CH4 will still exist at the 10% level after 20 years, and the steady-state approximation can be corrected if we know the time scale of the CH4 perturbation.

The timescale of the perturbation (PT) it the total methane lifetime times the feedback factor (FF). 

Using numbers from Prather et al 2012:

PT = FF * LT = 1.4*9.1

All the RF related to methane decay as exp(-t/PT) where t is time.

Therefore the AGWP_20 = AGWP_100 * (1-exp(20/PT)
for ch4, ch4ind o3 and ch4ind h2o.

In [9]:
PT = 1.47*9.1
print(PT)
adjust_20 =1-np.exp(-20./PT)

print(adjust_20)

13.376999999999999
0.7757746118531375

In [10]:
df_table_agwp_20 = df_table_agwp
df_table_agwp_20['h2_agwp_ch4']=df_table_agwp_20['h2_agwp_ch4']*adjust_20
df_table_agwp_20['h2_agwp_ch4ind_o3']=df_table_agwp_20['h2_agwp_ch4ind_o3']*adjust_20
df_table_agwp_20['h2_agwp_ch4ind_h2o']=df_table_agwp_20['h2_agwp_ch4ind_h2o']*adjust_20

In [11]:
df_table_gwp_20 = df_table_agwp_20/agwp20_CO2
df_table_gwp_20.rename(columns=rename_columns,inplace=True)
df_table_gwp_20

             gwp_ch4  gwp_o3  gwp_h2o  gwp_ch4ind_o3  gwp_ch4ind_h2o
OsloCTM         15.3    8.98     7.13           7.81            1.92
WACCM           16.1    7.25     2.12           8.59            0.76
INCA            15.3    6.04     4.69           4.19            1.26
GFDL-emi        14.1    16.0     10.8            nan             nan
OsloCTM-emi     15.6    9.16     7.27           7.99            1.97
UKCA            13.1    4.38      nan           4.21             nan
GFDL            15.4    8.63     6.63           6.40            3.83