# Calculate GWP and make tabels for the paper...

Description of the experiments. bla bla

To do:
- Add references  https://jupyterbook.org/en/stable/content/citations.html
- Write a detailed explanation of the method inkluding references
- Loop, so drydep 80, 50 and no adjustments are run at the same tima

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '{:,.3f}'.format(x) if abs(x)<0 else ('{:,.2f}'.format(x) if abs(x)<10 else ('{:,.1f}'.format(x) if abs(x)<100 else '{:,.0f}'.format(x))))

Input and output path:

In [2]:
path = r"./input/"
outputpath= r"./output/"

Constants:

In [3]:
#AGWP100_CO2 [mW yr m-2 Tg-1] Source: REF.
agwp100_CO2 = 0.09170

#CH4 tau_strat[yr] Source: REF
tau_strat = 120.0

#CH4 tau_soil [yr] Source: REF
tau_soil = 160.0

#Specific RF for CH4 [mW m-2 ppb-1] Etminan et al., 2016
spec_rf_ch4 = 0.44300

As there is large uncertanty in drydeposition values, we will, in addition to use the drydeposition calculated by the model (but not used in the model, as the surface concentration is fixed), set the drydeposition in the control run to a high and low value based on literature (IS 80 and 50 OK?). This will result in a range of GWP values. Adjust the perturbations with the same relative factors as in the control.

In [4]:
adjust_drydep = False
if(adjust_drydep):
    drydep = 50.0
    outputpath = outputpath + 'drydep_'+ f'{drydep:.0f}_'

## Read input data

To run this notebook, preprosessed output from the 3 set of simulations and put into a folder named input.
- CTRL: Control simulation, fixed surface concentration
- 10H2: Hydrogen perturbation, surface H_2 increased by 10%. Run to steady state.
- 10CH4: Methane perturbation, surface CH_4 increased by 10%. Run to steady state.

In addition, emission driven runs are added. GFDL-emi: description of this experiment.

Add table with length of simulation and over how many years the model results are averaged. Data in input is based on monthly data for this averaged data.

## Hydrogen results

### H2 burden [Tg]:

In [5]:
file = 'H2_burden.txt'
df_h2_burden = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_h2_burden.loc['10H2']-df_h2_burden.loc['CTRL']
delta.name = 'deltaH2'
df_h2_burden = df_h2_burden.append(delta)
df_h2_burden

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL           196          194   194       192   187
10H2           215          213   213       656   205
10CH4          197          195   195       nan   188
deltaH2       18.7         18.6  18.6       464  18.2

### H2 loss

### H2 drydep [Tg/yr]

The models diagnose drydeposition based on their own schemes, but this is not used in the concentration driven runs.

In [6]:
file = 'H2_drydep.txt'
df_h2_drydep = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_h2_drydep

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          59.5         72.5  52.1      54.7  56.8
10H2          65.5         79.7  57.2       204  62.4
10CH4         59.5         72.5  52.1       nan  56.8

In [7]:
if(adjust_drydep):
    print('NB drydep adjusted')
    
    #Adjust by the relative adjustment in the control simulations
    adjust = drydep/df_h2_drydep.loc['CTRL']
    df_h2_drydep = df_h2_drydep*adjust
    
    print(df_h2_drydep)

### H2 atm. loss [Tg/yr]

In [8]:
file = 'H2_atm_loss.txt'
df_h2_atmloss = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_h2_atmloss

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          28.4         29.5  22.1      22.1  21.5
10H2          31.0         32.2  24.2      69.4  23.5
10CH4         27.6         28.6  21.6       nan  21.0

### H2 total loss [Tg/yr]:

In [9]:
df_h2_loss = df_h2_atmloss + df_h2_drydep
df_h2_loss

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          87.9          102  74.2      76.8  78.3
10H2          96.4          112  81.4       273  86.0
10CH4         87.2          101  73.7       nan  77.8

### H2 production

### H2 atm. prod [Tg/yr]

In [10]:
file = 'H2_atm_prod.txt'
df_h2_atmprod = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_h2_atmprod

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          56.3         34.6  46.7      44.7  44.7
10H2          56.2         34.5  46.6      43.1  44.6
10CH4         59.2         37.1  48.9       nan  46.7

### Estimated emissions (Total loss = Total prod + emission)

In surface concentration driven runs, there are two unknow, emissions and drydeposition. 
Emission driven runs, are driven by emission estimates and use drydeposition scheme to calculate the concentration at the surface. Althogh the emission driven runs use drydep and emissions, we adjust the drydep as well to take into account uncertainties in emissions and drydeposition on the GWP values.

In [11]:
df_h2_estemis = df_h2_atmloss.loc['CTRL'] + df_h2_drydep.loc['CTRL'] - df_h2_atmprod.loc['CTRL']
df_h2_estemis

OSLOCTM3      31.6
WACCM6-2deg   67.3
INCA          27.5
GFDL-emi      32.1
GFDL          33.6
Name: CTRL, dtype: float64

### H2 surface concentration [ppb]

In [12]:
file = 'H2_surfconc.txt'
df_h2_surfconc = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_h2_surfconc.loc['10H2']-df_h2_surfconc.loc['CTRL']
delta.name = 'deltaH2'
df_h2_surfconc = df_h2_surfconc.append(delta)
df_h2_surfconc

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL           532          532   532       534   525
10H2           585          585   585     1,880   578
deltaH2       53.2         53.2  53.2     1,346  52.5

### H2 lifetime [yr]

In [13]:
df_h2_lifetime = df_h2_burden.drop('deltaH2')/df_h2_loss
df_h2_lifetime

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          2.23         1.91  2.62      2.50  2.39
10H2          2.23         1.90  2.62      2.40  2.39
10CH4         2.26         1.93  2.64       nan  2.41

### H2 atmospheric lifetime [yr]

In [14]:
df_h2_atm_lifetime = df_h2_burden.drop('deltaH2')/df_h2_atmloss
df_h2_atm_lifetime

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          6.91         6.59  8.79      8.66  8.69
10H2          6.94         6.62  8.82      9.44  8.73
10CH4         7.12         6.82  9.01       nan  8.93

### H2 flux (burden dived by lifetime) [Tg/yr]

Add a description of the delta flux here. Iclude feedback

In [15]:
df_h2_flux = df_h2_burden.drop('deltaH2')/df_h2_lifetime
#Add delta flux 10H2:
delta = df_h2_flux.loc['10H2']-df_h2_flux.loc['CTRL']
delta.name = 'deltaH2'
df_h2_flux = df_h2_flux.append(delta)
#Add delta flux 10CH4:
delta = df_h2_flux.loc['10CH4']-df_h2_flux.loc['CTRL']
delta.name = 'deltaCH4'
df_h2_flux = df_h2_flux.append(delta)
df_h2_flux

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          87.9          102  74.2      76.8  78.3
10H2          96.4          112  81.4       273  86.0
10CH4         87.2          101  73.7       nan  77.8
deltaH2       8.54         9.92  7.19       196  7.66
deltaCH4     -0.75        -0.90 -0.49       nan -0.52

Description of the negative deltaCH4. In the methane run, the hydrogen surface concentration is kept fixed. Enhancing methane would influence H2. The hydrogen concentration would have increased, but since we run with fixed concentration, there is a negative flux to compensate. So the increased flux in H2 due to methane is -1*deltaCH4.

## Methane results

### CH4 burden [Tg]

In [16]:
file = 'CH4_burden.txt'
df_ch4_burden = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_ch4_burden.loc['10CH4']-df_ch4_burden.loc['CTRL']
delta.name = 'deltaCH4'
df_ch4_burden = df_ch4_burden.append(delta)
df_ch4_burden

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL         4,995        5,006 4,994     4,935 4,857
10H2         4,995        5,007 4,995     4,935 4,857
10CH4        5,495        5,508 5,494       nan 5,343
deltaCH4       500          502   500       nan   486

### CH4 atmospheric loss [Tg/yr]

In [17]:
file = 'CH4_loss.txt'
df_ch4_loss = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_ch4_loss

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL           683          742   550       582   570
10H2           680          739   547       537   568
10CH4          728          788   588       nan   610

### CH4 surface concentration [ppb]

In [18]:
file = 'CH4_surfconc.txt'
df_ch4_surfconc = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_ch4_surfconc.loc['10CH4']-df_ch4_surfconc.loc['CTRL']
delta.name = 'deltaCH4'
df_ch4_surfconc = df_ch4_surfconc.append(delta)
df_ch4_surfconc

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL         1,813        1,808 1,813     1,804 1,789
10CH4        1,994        1,989 1,994       nan 1,967
deltaCH4       181          181   181       nan   179

### CH4 lifetime [yr]

In [19]:
df_ch4_lifetime = df_ch4_burden.drop('deltaCH4')/df_ch4_loss
df_ch4_lifetime

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          7.31         6.74  9.09      8.48  8.52
10H2          7.34         6.78  9.12      9.19  8.55
10CH4         7.55         6.99  9.35       nan  8.76

### Total CH4 lifetime [yr]

In [20]:
df_ch4_tot_lifetime = 1.0/(1.0/df_ch4_lifetime + 1.0/tau_strat + 1.0/tau_soil)
df_ch4_tot_lifetime

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL          6.61         6.14  8.02      7.54  7.58
10H2          6.63         6.17  8.05      8.10  7.60
10CH4         6.80         6.34  8.23       nan  7.76

### CH4 flux (burden dived by total lifetime) [Tg/yr]

In [21]:
df_ch4_flux = df_ch4_burden.drop('deltaCH4')/df_ch4_tot_lifetime
#Add delta CH4 flux 10H2
delta = df_ch4_flux.loc['10H2']-df_ch4_flux.loc['CTRL']
delta.name = 'deltaH2'
df_ch4_flux = df_ch4_flux.append(delta)
#Add delta CH4 flux 10CH4
delta = df_ch4_flux.loc['10CH4']-df_ch4_flux.loc['CTRL']
delta.name = 'deltaCH4'
df_ch4_flux = df_ch4_flux.append(delta)
df_ch4_flux

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
CTRL           756          815   622       654   641
10H2           753          812   620       609   639
10CH4          808          868   668       nan   688
deltaH2      -2.67        -3.38 -2.10     -45.2 -1.89
deltaCH4      52.3         53.0  45.3       nan  47.3

## Ozone results

### Ozone delta DU troposphere

The tropopause definition is the model layer in the control simulation where 150 ppbv ozone are reached. For GFDL-emi 10H2 is H2 perturbation and 10CH4 is H2+CH4 pert minus the H2 pert.

In [22]:
file = 'ozone_du_trop.txt'
df_ozone_du_trop = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_trop

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
10H2          0.04         0.03  0.03      0.73  0.06
10CH4         0.83         0.86  0.54      0.76  0.66

### Ozone delta DU stratosphere

In [23]:
file = 'ozone_du_strat.txt'
df_ozone_du_strat = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_strat

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
10H2          0.01        -0.01 -0.03     -0.23  0.07
10CH4         0.83         0.77  0.35      1.07  0.78

### Stratospheric ozone 60S-60N

In [24]:
file = 'ozone_du_strat_6060.txt'
df_ozone_du_strat_6060 = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_strat_6060

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
10H2          0.01        -0.01 -0.02     -0.22  0.02
10CH4         0.63         0.61  0.28      0.68  0.57

### Stratospheric ozone 90S-60S and 60N-90N

In [25]:
file = 'ozone_du_strat_gt60.txt'
df_ozone_du_strat_gt60 = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_strat_gt60

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
10H2          0.00        -0.00 -0.01     -0.01  0.04
10CH4         0.23         0.16  0.08      0.40  0.21

### Ozone RF

Ozone RF is calculated using a radiative kernel (Skeie et al 2020) and the modelled changes in ozone concentration. For GFDL-emi 10H2 RF is forcing calculated in the H2 perturbation and 10CH4 the forcing calculated by the H2+CH4 pert minus the H2 pert.

In [26]:
file = 'ozone_rf.txt'
df_ozone_rf = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_rf

          OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
Scenario
10H2          1.87         1.41  1.12      34.0  3.46
10CH4         41.0         41.7  22.6      37.6  33.3

### Stratospheric H2O RF [mW m-2]

Stratospheric H2O RF calculated offline. Full calculations will be performed. So far only LW. Multiply by 0.85

In [27]:
file = 'H2O_rf.txt'
df_h2o_rf = pd.read_csv(path+file, sep=';',index_col=0,header=0)

#'NBNBNB multiply these numbers by 0.85
df_h2o_rf = df_h2o_rf.multiply(0.85)
df_h2o_rf

          OSLOCTM3  WACCM6-2deg  INCA  GFDL
Scenario
10H2          1.35         0.52  0.40   nan
10CH4         9.18         2.80  3.40   nan

In [28]:
#NBNBBN not multiply these numbers by 0.85'
file = 'H2O_rf_gfdl.txt'
h2o_rf_gfdl = pd.read_csv(path + file, sep=',',index_col=0,header=0)
h2o_rf_gfdl

                 GFDL
H2 [mW m-2]      28.3
H2+CH4 [mW m-2]  53.1


# Start calculations:

ADD DESCRIPTION OF GWP CALCULATION steady-state = integral of a pulse. Here we can cite :cite:p:`Prather2002a` and :cite:p:`Prather2007a`

### Change in H2 surface conc. caused by 1 Tg H2/yr [ppb yr Tg-1]

This is not used for the GWP calculation. Only for the per flux table and for the feedback factor calulations.

In [29]:
df_surf_h2_per_h2_flux = df_h2_surfconc.loc['deltaH2']/df_h2_flux.loc['deltaH2']
df_surf_h2_per_h2_flux.name = 'surf_h2_per_h2_flux'
df_surf_h2_per_h2_flux

OSLOCTM3      6.23
WACCM6-2deg   5.36
INCA          7.39
GFDL-emi      6.86
GFDL          6.85
Name: surf_h2_per_h2_flux, dtype: float64

### Change in CH4 flux caused by 1 TgH2 /yr (includes H2 feedback) [Tg CH4/Tg H2]:

The ch4_flux is multiplied by -1 (see above, or move description here)... Why this includes feedback...

In [30]:
df_ch4_flux_per_h2_flux = -1.0*df_ch4_flux.loc['deltaH2']/df_h2_flux.loc['deltaH2']
df_ch4_flux_per_h2_flux.name = 'ch4_flux_per_h2_flux'
df_ch4_flux_per_h2_flux

OSLOCTM3      0.31
WACCM6-2deg   0.34
INCA          0.29
GFDL-emi      0.23
GFDL          0.25
Name: ch4_flux_per_h2_flux, dtype: float64

### Change in CH4 surface conc. caused by 1 Tg/yr CH4 [ppb yr/Tg CH4]

In [31]:
df_surf_ch4_per_ch4_flux =  df_ch4_surfconc.loc['deltaCH4']/df_ch4_flux.loc['deltaCH4']
df_surf_ch4_per_ch4_flux.name = 'surf_ch4_per_ch4_flux'
df_surf_ch4_per_ch4_flux

OSLOCTM3      3.47
WACCM6-2deg   3.41
INCA          4.00
GFDL-emi       nan
GFDL          3.78
Name: surf_ch4_per_ch4_flux, dtype: float64

### Change in CH4 surface concentration per emission H2 [ppb yr /Tg H2]

In [32]:
df_surf_ch4_per_h2_flux = df_surf_ch4_per_ch4_flux*df_ch4_flux_per_h2_flux
df_surf_ch4_per_h2_flux.name = 'surf_ch4_per_h2_flux'

#Add GFDL:
#Increase in surface concentration CH4:
#1808 to 2005 ppbv (REF Paolot)
df_surf_ch4_per_h2_flux['GFDL-emi']= (2005.-1808.)/df_h2_flux['GFDL-emi'].loc['deltaH2']
df_surf_ch4_per_h2_flux

OSLOCTM3      1.09
WACCM6-2deg   1.16
INCA          1.17
GFDL-emi      1.00
GFDL          0.93
Name: surf_ch4_per_h2_flux, dtype: float64

### Change in H2 flux caused by 1 TgCH4/yr [Tg H2/Tg CH4]

Why we multiply by -1

In [33]:
df_h2_flux_per_ch4_flux = -1.0*df_h2_flux.loc['deltaCH4']/df_ch4_flux.loc['deltaCH4']
df_h2_flux_per_ch4_flux.name = 'h2_flux_per_ch4_flux'
df_h2_flux_per_ch4_flux

OSLOCTM3      0.01
WACCM6-2deg   0.02
INCA          0.01
GFDL-emi       nan
GFDL          0.01
Name: h2_flux_per_ch4_flux, dtype: float64

### HYDROGEN AGWP100 CH4 [mW m-2 yr Tg-1]

Explain why this is AGWP

In [34]:
df_h2_agwp_ch4 = df_surf_ch4_per_h2_flux*spec_rf_ch4
df_h2_agwp_ch4.name = 'h2_agwp_ch4'


#agwp_ch4 = RF per flux H2 (For the per flux table)
df_ch4_rf_per_h2_flux = df_surf_ch4_per_h2_flux*spec_rf_ch4
df_ch4_rf_per_h2_flux.name = 'ch4_rf_per_h2_flux'

### Initialize H2 GWP table

In [35]:
antmod = len(df_h2_agwp_ch4.index)
df_h2_gwp = pd.DataFrame(np.empty([5,antmod])*np.nan,columns=df_h2_agwp_ch4.index,
                         index=['O3','CH4','strat H2O','O3 CH4ind','strat H2O CH4ind'])

### Add methane GWP

In [36]:
df_h2_gwp.loc['CH4'] = df_h2_agwp_ch4/agwp100_CO2

### HYDROGEN AGWP100 strat H2O [mW m-2 yr Tg-1]

Explain that RF/flux equal AGWP..

In [37]:
df_h2_agwp_h2o = df_h2o_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_h2_agwp_h2o['GFDL-emi'] = h2o_rf_gfdl['GFDL'].loc['H2+CH4 [mW m-2]']/df_h2_flux['GFDL-emi'].loc['deltaH2']
df_h2_agwp_h2o.name = 'h2_agwp_h2o'

#NBNB GFDL methane induced is included.

In [38]:
#Add to the flux table
df_h2o_rf_per_h2_flux = df_h2o_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_h2o_rf_per_h2_flux.name= 'h2o_rf_per_h2_flux'
df_h2o_rf_per_h2_flux['GFDL-emi'] = h2o_rf_gfdl['GFDL'].loc['H2 [mW m-2]']/df_h2_flux['GFDL-emi'].loc['deltaH2']

#Strat H2O RF per methane flux (Move this to the methane part?)
df_h2o_rf_per_ch4_flux = df_h2o_rf.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_h2o_rf_per_ch4_flux.name = 'h2o_rf_per_ch4_flux'

### Add stratospheric H2O GWP

In [39]:
df_h2_gwp.loc['strat H2O'] = df_h2_agwp_h2o/agwp100_CO2

### HYDROGEN AGWP100 O3 [mW m-2 yr Tg-1]

In [40]:
df_h2_agwp_o3 = df_ozone_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_h2_agwp_o3.name = 'h2_agwp_o3'

#For GFDL-emi include the methane induced part.
df_h2_agwp_o3['GFDL-emi'] = (df_ozone_rf['GFDL-emi'].loc['10H2']+df_ozone_rf['GFDL-emi'].loc['10CH4'])/df_h2_flux['GFDL-emi'].loc['deltaH2']

In [41]:
#Similar, but use only the H2 Ozone RF for GFDL. To be used in the table:
df_ozone_rf_per_h2_flux = df_ozone_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_ozone_rf_per_h2_flux.name= 'ozone_rf_per_h2_flux'

In [42]:
#Ozone RF per methane flux (move to the methane part?)
df_ozone_rf_per_ch4_flux = df_ozone_rf.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_ozone_rf_per_ch4_flux.name = 'ozone_rf_per_ch4_flux'

### Add Ozone GWP

In [43]:
df_h2_gwp.loc['O3'] = df_h2_agwp_o3/agwp100_CO2

### For the per flux table

In [44]:
df_trop_du_ozone_per_ch4_flux = df_ozone_du_trop.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_trop_du_ozone_per_ch4_flux.name = 'trop_du_ozone_per_ch4_flux'

df_strat_du_ozone_per_ch4_flux = df_ozone_du_strat.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_strat_du_ozone_per_ch4_flux.name = 'strat_du_ozone_per_ch4_flux'

df_trop_du_ozone_per_h2_flux = df_ozone_du_trop.loc['10H2']/df_h2_flux.loc['deltaH2']
df_trop_du_ozone_per_h2_flux.name = 'trop_du_ozone_per_h2_flux'

df_strat_du_ozone_per_h2_flux = df_ozone_du_strat.loc['10H2']/df_h2_flux.loc['deltaH2']
df_strat_du_ozone_per_h2_flux.name = 'strat_du_ozone_per_h2_flux'

In [45]:
df_strat_du_6060_ozone_per_ch4_flux = df_ozone_du_strat_6060.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_strat_du_6060_ozone_per_ch4_flux.name = 'strat_du_6060_ozone_per_ch4_flux'

df_strat_du_6060_ozone_per_h2_flux = df_ozone_du_strat_6060.loc['10H2']/df_h2_flux.loc['deltaH2']
df_strat_du_6060_ozone_per_h2_flux.name = 'strat_du_6060_ozone_per_h2_flux'

df_strat_du_gt60_ozone_per_ch4_flux = df_ozone_du_strat_gt60.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_strat_du_gt60_ozone_per_ch4_flux.name = 'strat_du_gt60_ozone_per_ch4_flux'

df_strat_du_gt60_ozone_per_h2_flux = df_ozone_du_strat_gt60.loc['10H2']/df_h2_flux.loc['deltaH2']
df_strat_du_gt60_ozone_per_h2_flux.name = 'strat_du_gt60_ozone_per_h2_flux'

## Methane induced GWP:

### HYDROGEN AGWP100 methane induced O3 [mW m-2 yr Tg-1]

It does not matter here if we use surface concentration, burden, tropospheric concentration?

In [46]:
#Wm-2/ppbCH4*ppbCH4/TgH2yr-1 -> Wm-2/TgH2yr-1
df_h2_agwp_ch4ind_o3 = df_ozone_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_h2_flux
df_h2_agwp_ch4ind_o3.name = 'h2_agwp_ch4ind_o3'

### Add methane induced O3 GWP

In [47]:
df_h2_gwp.loc['O3 CH4ind'] = df_h2_agwp_ch4ind_o3/agwp100_CO2

### HYDROGEN AGWP100 methane induced strat H2O [mW m-2 yr Tg-1]

In [48]:
df_h2_agwp_ch4ind_h2o = df_h2o_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_h2_flux
df_h2_agwp_ch4ind_h2o.name = 'h2_agwp_ch4ind_h2o'

### Add methane induced strat H2O GWP

In [49]:
df_h2_gwp.loc['strat H2O CH4ind'] = df_h2_agwp_ch4ind_h2o/agwp100_CO2

# Methane GWP

Initialize CH4 GWP

In [50]:
antmod = len(df_h2_agwp_ch4.index)
df_ch4_gwp = pd.DataFrame(np.empty([4,antmod])*np.nan,columns=df_h2_agwp_ch4.index,
                         index=['O3','CH4','strat H2O','H2'])
#df_ch4_gwp

### Methane AGWP100 O3 [mW m-2 yr Tg-1]

Integrated O3 from CH4 RF [W m-2 yr Tg-1]

In [51]:
df_ch4_agwp_o3 = df_ozone_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_ch4_flux
df_ch4_agwp_o3.name = 'ch4_agwp_o3'

### Add ozone GWP

In [52]:
df_ch4_gwp.loc['O3'] =df_ch4_agwp_o3/agwp100_CO2

### Methane AGWP100 Methane [mW m-2 yr Tg-1]

In [53]:
df_ch4_agwp =df_surf_ch4_per_ch4_flux*spec_rf_ch4
df_ch4_agwp.name = 'ch4_agwp'

### Add methane GWP

In [54]:
#Add Methane GWP:
df_ch4_gwp.loc['CH4'] =df_ch4_agwp/agwp100_CO2

### Methane AGWP100 strat H2O [mW m-2 yr Tg-1]

In [55]:
print(df_h2o_rf.loc['10CH4'])
df_ch4_agwp_h2o = df_h2o_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_ch4_flux
df_ch4_agwp_h2o.name = 'ch4_agwp_h2o'

OSLOCTM3      9.18
WACCM6-2deg   2.80
INCA          3.40
GFDL           nan
Name: 10CH4, dtype: float64

### Add Strat H2O GWP:

In [56]:
df_ch4_gwp.loc['strat H2O'] = df_ch4_agwp_h2o/agwp100_CO2

### Add GWP via H2

In [57]:
df_ch4_gwp.loc['H2'] = df_h2_flux_per_ch4_flux*df_h2_gwp.sum()

# Main results and tabels

## H2 GWP 100

In [58]:
#Save to file:
#print(outputpath + 'table_h2_gwp.csv')
df_h2_gwp.to_csv(outputpath + 'table_h2_gwp.csv')
df_h2_gwp.loc['total']=df_h2_gwp.sum()
df_h2_gwp

                  OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
O3                    2.39         1.55  1.69      3.98  4.92
CH4                   5.24         5.61  5.65      4.85  4.50
strat H2O             1.73         0.57  0.61      2.95   nan
O3 CH4ind             2.67         2.92  1.59       nan  1.89
strat H2O CH4ind      0.60         0.20  0.24       nan   nan
total                 12.6         10.8  9.78      11.8  11.3

## CH4 GWP 100

In [59]:
df_ch4_gwp.to_csv(outputpath + 'table_ch4_gwp.csv')
df_ch4_gwp.loc['total']=df_ch4_gwp.sum()
df_ch4_gwp

           OSLOCTM3  WACCM6-2deg  INCA  GFDL-emi  GFDL
O3             8.54         8.57  5.43       nan  7.69
CH4            16.8         16.5  19.3       nan  18.3
strat H2O      1.91         0.58  0.82       nan   nan
H2             0.18         0.18  0.11       nan  0.13
total          27.4         25.8  25.7      0.00  26.1

## Table per flux H2

In [60]:
df_per_flux_h2 = pd.concat([df_h2_flux.loc['deltaH2'],df_surf_h2_per_h2_flux,
                            df_surf_ch4_per_h2_flux,df_ch4_flux_per_h2_flux,df_ch4_rf_per_h2_flux,
                            df_trop_du_ozone_per_h2_flux,df_strat_du_ozone_per_h2_flux,
                            df_strat_du_6060_ozone_per_h2_flux,df_strat_du_gt60_ozone_per_h2_flux,
                            df_ozone_rf_per_h2_flux,df_h2o_rf_per_h2_flux],axis=1, sort=False)

#Save to file:
df_per_flux_h2.to_csv(outputpath + 'table_per_flux_h2.csv')

#Rename the columns:
columns_names={'deltaH2':'Flux H2 [Tg/yr]',
               'surf_h2_per_h2_flux': 'Surf. conc. H2 per flux [ppb yr/Tg]',
               'surf_ch4_per_h2_flux':'Surf. conc. CH4 per flux [ppb yr/Tg]',
               'ch4_flux_per_h2_flux':'Flux CH4/Flux H2 [Tg CH4/Tg H2]',
               'ch4_rf_per_h2_flux':'CH4 RF per flux [mW m-2 yr/ Tg]',
               'trop_du_ozone_per_h2_flux':'Trop. ozone per flux [DU yr/Tg]',
               'strat_du_ozone_per_h2_flux':'Strat. ozone per flux [DU yr/Tg]',
               'strat_du_6060_ozone_per_h2_flux':'Strat. ozone 60S-60N per flux [DU yr/Tg]',
               'strat_du_gt60_ozone_per_h2_flux':'Strat. ozone >60S/N per flux [DU yr/Tg]',
               'ozone_rf_per_h2_flux':'ozone RF per flux [mW m-2 yr/ Tg]',
               'h2o_rf_per_h2_flux':'Strat. H2O RF per flux [mW m-2 yr/ Tg]'}
#Rename column names:
df_per_flux_h2.rename(columns=dict(columns_names),inplace=True) #[df_per_flux_h2.columns])
df_per_flux_h2

,Flux H2 [Tg/yr],Surf. conc. H2 per flux [ppb yr/Tg],Surf. conc. CH4 per flux [ppb yr/Tg],Flux CH4/Flux H2 [Tg CH4/Tg H2],CH4 RF per flux [mW m-2 yr/ Tg],Trop. ozone per flux [DU yr/Tg],Strat. ozone per flux [DU yr/Tg],Strat. ozone 60S-60N per flux [DU yr/Tg],Strat. ozone >60S/N per flux [DU yr/Tg],ozone RF per flux [mW m-2 yr/ Tg],Strat. H2O RF per flux [mW m-2 yr/ Tg]
OSLOCTM3,8.54,6.23,1.09,0.31,0.48,0.00,0.00,0.00,0.00,0.22,0.16
WACCM6-2deg,9.92,5.36,1.16,0.34,0.51,0.00,-0.00,-0.00,-0.00,0.14,0.05
INCA,7.19,7.39,1.17,0.29,0.52,0.00,-0.00,-0.00,-0.00,0.16,0.06
GFDL-emi,196,6.86,1.00,0.23,0.44,0.00,-0.00,-0.00,-0.00,0.17,0.14
GFDL,7.66,6.85,0.93,0.25,0.41,0.01,0.01,0.00,0.01,0.45,nan

## Table per flux CH4

To do: fix the table headings in the table (as for H2 above)

In [61]:
df_per_flux_ch4 = pd.concat([df_ch4_flux.loc['deltaCH4'],df_surf_ch4_per_ch4_flux,
                            df_h2_flux_per_ch4_flux,df_trop_du_ozone_per_ch4_flux,df_strat_du_ozone_per_ch4_flux,
                            df_strat_du_6060_ozone_per_ch4_flux,df_strat_du_gt60_ozone_per_ch4_flux,
                            df_ozone_rf_per_ch4_flux,df_h2o_rf_per_ch4_flux],axis=1,sort=False)



               
#Save to file:
df_per_flux_ch4.to_csv(outputpath + 'table_per_flux_ch4.csv')

#Rename the columns:
columns_names={'deltaCH4':'Flux CH4 [Tg/yr]',
               'surf_ch4_per_ch4_flux':'Surf. conc. CH4 per flux [ppb yr/Tg]',
               'h2_flux_per_ch4_flux':'Flux H2/Flux CH4 [Tg H2/Tg CH4]',
               'trop_du_ozone_per_ch4_flux':'Trop. ozone per flux [DU yr/Tg]',
               'strat_du_ozone_per_ch4_flux':'Strat. ozone per flux [DU yr/Tg]',
               'strat_du_6060_ozone_per_ch4_flux':'Strat. ozone 60S-60N per flux [DU yr/Tg]',
               'strat_du_gt60_ozone_per_ch4_flux':'Strat. ozone >60S/N per flux [DU yr/Tg]',
               'ozone_rf_per_ch4_flux':'ozone RF per flux [mW m-2 yr/ Tg]',
               'h2o_rf_per_ch4_flux':'Strat H2O RF per flux [mW m-2 yr/ Tg]'}
               
#Rename column names:
df_per_flux_ch4.rename(columns=dict(columns_names),inplace=True) #[df_per_flux_h2.columns])
df_per_flux_ch4

,Flux CH4 [Tg/yr],Surf. conc. CH4 per flux [ppb yr/Tg],Flux H2/Flux CH4 [Tg H2/Tg CH4],Trop. ozone per flux [DU yr/Tg],Strat. ozone per flux [DU yr/Tg],Strat. ozone 60S-60N per flux [DU yr/Tg],Strat. ozone >60S/N per flux [DU yr/Tg],ozone RF per flux [mW m-2 yr/ Tg],Strat H2O RF per flux [mW m-2 yr/ Tg]
OSLOCTM3,52.3,3.47,0.01,0.02,0.02,0.01,0.00,0.78,0.18
WACCM6-2deg,53.0,3.41,0.02,0.02,0.01,0.01,0.00,0.79,0.05
INCA,45.3,4.00,0.01,0.01,0.01,0.01,0.00,0.50,0.08
GFDL-emi,nan,nan,nan,nan,nan,nan,nan,nan,nan
GFDL,47.3,3.78,0.01,0.01,0.02,0.01,0.00,0.70,nan

## H2 budget tabel

In [62]:
df_budget_h2 = pd.concat([df_h2_burden.loc['CTRL'],df_h2_lifetime.loc['CTRL'],
                          df_h2_atmloss.loc['CTRL'],df_h2_drydep.loc['CTRL'],
                          df_h2_atmprod.loc['CTRL'],df_h2_atm_lifetime.loc['CTRL'],
                          df_h2_estemis],axis=1)

df_budget_h2.columns = ['H2 burden [Tg]',
                        'H2 lifetime [yrs]',
                        'H2 atm.loss[Tg/yr]',
                        'H2 drydep [Tg/yr]',
                        'H2 atm. prod [Tg/yr]',
                        'H2 atmospheric lifetime [yrs]',
                        'H2 estimated emissions [Tg/yr]']

df_budget_h2.to_csv(outputpath + 'table_budget_h2.csv')
df_budget_h2

,H2 burden [Tg],H2 lifetime [yrs],H2 atm.loss[Tg/yr],H2 drydep [Tg/yr],H2 atm. prod [Tg/yr],H2 atmospheric lifetime [yrs],H2 estimated emissions [Tg/yr]
OSLOCTM3,196,2.23,28.4,59.5,56.3,6.91,31.6
WACCM6-2deg,194,1.91,29.5,72.5,34.6,6.59,67.3
INCA,194,2.62,22.1,52.1,46.7,8.79,27.5
GFDL-emi,192,2.50,22.1,54.7,44.7,8.66,32.1
GFDL,187,2.39,21.5,56.8,44.7,8.69,33.6

## CH4 budget tabel

In [63]:
df_budget_ch4 = pd.concat([df_ch4_burden.loc['CTRL'],df_ch4_lifetime.loc['CTRL'],
                           df_ch4_loss.loc['CTRL']],axis=1)
df_budget_ch4.columns = ['CH4 burden [Tg]','CH4 lifetime [yrs]','CH4 atm.loss[Tg/yr]'] 
df_budget_ch4

             CH4 burden [Tg]  CH4 lifetime [yrs]  CH4 atm.loss[Tg/yr]
OSLOCTM3               4,995                7.31                  683
WACCM6-2deg            5,006                6.74                  742
INCA                   4,994                9.09                  550
GFDL-emi               4,935                8.48                  582
GFDL                   4,857                8.52                  570

# Other results/checks:

## Methane feedback factor:

### Atmospheric mass conversion CH4  [Tg/ppb] (from perturbations)

In [64]:
df_ch4_burden_per_conc  = df_ch4_burden.loc['deltaCH4']/df_ch4_surfconc.loc['deltaCH4']
df_ch4_burden_per_conc.name = 'ch4_burden_per_conc'
df_ch4_burden_per_conc

OSLOCTM3      2.76
WACCM6-2deg   2.77
INCA          2.76
GFDL-emi       nan
GFDL          2.72
Name: ch4_burden_per_conc, dtype: float64

### Increase per unit flux w/o feedback = integrated decay [ppb yr/Tg]

Add explanation...

In [65]:
df_w_o_feedback =df_ch4_lifetime.loc['CTRL']/df_ch4_burden_per_conc #Lifetime [yr] / [Tg/ppb] 
df_w_o_feedback

OSLOCTM3      2.65
WACCM6-2deg   2.43
INCA          3.30
GFDL-emi       nan
GFDL          3.14
dtype: float64

### Feedback factor: increase CH4 with feedback/ increase CH4 without feedback

In [66]:
df_feedback_factor_ch4 = df_surf_ch4_per_ch4_flux/df_w_o_feedback
df_feedback_factor_ch4.name = 'feedback_factor_ch4'
df_feedback_factor_ch4

OSLOCTM3      1.31
WACCM6-2deg   1.40
INCA          1.21
GFDL-emi       nan
GFDL          1.21
Name: feedback_factor_ch4, dtype: float64

## Hydrogen feedback factor:

### Atmospheric mass conversion H2  [Tg/ppb] (from perturbations)

In [67]:
df_h2_burden_per_conc  = df_h2_burden.loc['deltaH2']/df_h2_surfconc.loc['deltaH2']
df_h2_burden_per_conc.name = 'h2_burden_per_conc'
df_h2_burden_per_conc

OSLOCTM3      0.35
WACCM6-2deg   0.35
INCA          0.35
GFDL-emi      0.34
GFDL          0.35
Name: h2_burden_per_conc, dtype: float64

### Increase per unit flux w/o feedback = integrated decay [ppb yr/Tg]

In [68]:
df_w_o_feedback_h2 =df_h2_lifetime.loc['CTRL']/df_h2_burden_per_conc #Lifetime [yr] / [Tg/ppb] 
df_w_o_feedback_h2

OSLOCTM3      6.37
WACCM6-2deg   5.45
INCA          7.50
GFDL-emi      7.25
GFDL          6.90
dtype: float64

### Feedback factor: increase H2 with feedback/ increase H2 without feedback

In [69]:
df_feedback_factor_h2 = df_surf_h2_per_h2_flux/df_w_o_feedback_h2
df_feedback_factor_h2.name = 'feedback_factor_h2'
df_feedback_factor_h2
#Fabien wrote in the paper about feedback factor less than 1.

OSLOCTM3      0.98
WACCM6-2deg   0.98
INCA          0.99
GFDL-emi      0.95
GFDL          0.99
Name: feedback_factor_h2, dtype: float64