# Calculate GWP and make tabels for the paper...

Description of the experiments. bla bla

To do:
- Add references  https://jupyterbook.org/en/stable/content/citations.html
- Write a detailed explanation of the method inkluding references

In [1]:
import numpy as np
import pandas as pd

Input and output path:

In [2]:
path = r"./input/"
outputpath= r"./output/"

Constants:

In [3]:
#AGWP100_CO2 [mW yr m-2 Tg-1] Source: AR5	
agwp100_CO2 = 0.09170

#CH4 tau_strat[yr] Source: ?
tau_strat = 120.0

#CH4 tau_soil [yr] Source: ?
tau_soil = 160.0

#Specific RF for CH4 [mW m-2 ppb-1] Etminan et al., 2016
spec_rf_ch4 = 0.44300

Add possibility to adjust the dry-deposition
QUESTION: Adjust the perturbations with the same relative factors as in the control?

In [4]:
adjust_drydep = False
if(adjust_drydep):
    drydep = 50.0
    outputpath = outputpath + 'drydep_'+ f'{drydep:.0f}_'
    #print(outputpath)

## Read input data

To run this notebook, preprosessed output from the 3 set of simulations and put into a folder.

## Hydrogen results

### H2 burden [Tg]:

In [5]:
file = 'H2_burden.txt'
df_h2_burden = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_h2_burden.loc['10H2']-df_h2_burden.loc['CTRL']
delta.name = 'deltaH2'
df_h2_burden = df_h2_burden.append(delta)
df_h2_burden

            OSLOCTM3  WACCM6-2deg   INCA  GFDL-emi      GFDL
Scenario
CTRL      196.210864     194.3987  194.4     191.7  187.1998
10H2      214.861270     212.9990  213.0     655.6  205.3680
10CH4     196.785571     194.9480  194.9       NaN  187.6098
deltaH2    18.650406      18.6003   18.6     463.9   18.1682

### H2 loss

### H2 drydep [Tg/yr]

In [6]:
file = 'H2_drydep.txt'
df_h2_drydep = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_h2_drydep

           OSLOCTM3  WACCM6-2deg   INCA  GFDL-emi      GFDL
Scenario
CTRL      59.518555     72.45730  52.06     54.66  56.76700
10H2      65.470284     79.69643  57.23    203.65  62.42649
10CH4     59.518572     72.47052  52.07       NaN  56.77396

In [7]:
if(adjust_drydep):
    print('NB drydep adjusted')
    
    #Adjust by the relative adjustment in the control simulations
    adjust = drydep/df_h2_drydep.loc['CTRL']
    df_h2_drydep = df_h2_drydep*adjust
    
    print(df_h2_drydep)

### H2 atm. loss [Tg/yr]

In [8]:
file = 'H2_atm_loss.txt'
df_h2_atmloss = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_h2_atmloss

           OSLOCTM3  WACCM6-2deg     INCA  GFDL-emi      GFDL
Scenario
CTRL      28.389650     29.51206  22.1256   22.1241  21.53456
10H2      30.973757     32.19348  24.1501   69.4454  23.53630
10CH4     27.635640     28.60070  21.6251       NaN  21.00452

### H2 total loss [Tg/yr]:

In [9]:
df_h2_loss = df_h2_atmloss + df_h2_drydep
df_h2_loss

           OSLOCTM3  WACCM6-2deg     INCA  GFDL-emi      GFDL
Scenario
CTRL      87.908205    101.96936  74.1856   76.7841  78.30156
10H2      96.444042    111.88991  81.3801  273.0954  85.96279
10CH4     87.154211    101.07122  73.6951       NaN  77.77848

### H2 prod

### H2 atm. prod [Tg/yr]

In [10]:
file = 'H2_atm_prod.txt'
df_h2_atmprod = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_h2_atmprod

           OSLOCTM3  WACCM6-2deg     INCA  GFDL-emi      GFDL
Scenario
CTRL      56.323356     34.62987  46.6780   44.6840  44.65848
10H2      56.234898     34.52268  46.6137   43.1153  44.59540
10CH4     59.160453     37.10409  48.9050       NaN  46.69622

### Estimated emissions (Total loss = Total prod + emission)

In [11]:
df_h2_estemis = df_h2_atmloss.loc['CTRL'] + df_h2_drydep.loc['CTRL'] - df_h2_atmprod.loc['CTRL']
df_h2_estemis

OSLOCTM3       31.584848
WACCM6-2deg    67.339490
INCA           27.507600
GFDL-emi       32.100100
GFDL           33.643080
Name: CTRL, dtype: float64

### H2 surface concentration [ppb]

In [12]:
file = 'H2_surfconc.txt'
df_h2_surfconc = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_h2_surfconc.loc['10H2']-df_h2_surfconc.loc['CTRL']
delta.name = 'deltaH2'
df_h2_surfconc = df_h2_surfconc.append(delta)
df_h2_surfconc

          OSLOCTM3  WACCM6-2deg   INCA  GFDL-emi        GFDL
Scenario
CTRL         531.7      531.775  531.8     533.6  525.186977
10H2         584.9      584.952  585.0    1880.1  577.642993
deltaH2       53.2       53.177   53.2    1346.5   52.456016

### H2 lifetime [yr]

In [13]:
df_h2_lifetime = df_h2_burden.drop('deltaH2')/df_h2_loss
df_h2_lifetime

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
CTRL      2.231997     1.906442  2.620455  2.496611  2.390754
10H2      2.227834     1.903648  2.617347  2.400626  2.389034
10CH4     2.257901     1.928818  2.644681       NaN  2.412104

### H2 atmospheric lifetime [yr]

In [14]:
df_h2_atm_lifetime = df_h2_burden.drop('deltaH2')/df_h2_atmloss
df_h2_atm_lifetime

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
CTRL      6.911352     6.587094  8.786202  8.664759  8.692994
10H2      6.936881     6.616215  8.819839  9.440510  8.725586
10CH4     7.120717     6.816197  9.012675       NaN  8.931878

### H2 flux (burden dived by lifetime) [Tg/yr]

Add a description of the delta flux here.

In [15]:
df_h2_flux = df_h2_burden.drop('deltaH2')/df_h2_lifetime
#Add delta flux 10H2:
delta = df_h2_flux.loc['10H2']-df_h2_flux.loc['CTRL']
delta.name = 'deltaH2'
df_h2_flux = df_h2_flux.append(delta)
#Add delta flux 10CH4:
delta = df_h2_flux.loc['10CH4']-df_h2_flux.loc['CTRL']
delta.name = 'deltaCH4'
df_h2_flux = df_h2_flux.append(delta)
df_h2_flux

           OSLOCTM3  WACCM6-2deg     INCA  GFDL-emi      GFDL
Scenario
CTRL      87.908205    101.96936  74.1856   76.7841  78.30156
10H2      96.444042    111.88991  81.3801  273.0954  85.96279
10CH4     87.154211    101.07122  73.6951       NaN  77.77848
deltaH2    8.535837      9.92055   7.1945  196.3113   7.66123
deltaCH4  -0.753993     -0.89814  -0.4905       NaN  -0.52308

## Methane results

### CH4 burden [Tg]

In [16]:
file = 'CH4_burden.txt'
df_ch4_burden = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_ch4_burden.loc['10CH4']-df_ch4_burden.loc['CTRL']
delta.name = 'deltaCH4'
df_ch4_burden = df_ch4_burden.append(delta)
df_ch4_burden

             OSLOCTM3  WACCM6-2deg    INCA  GFDL-emi      GFDL
Scenario
CTRL      4994.964696     5006.379  4994.5    4935.0  4856.640
10H2      4995.030494     5006.521  4994.6    4935.0  4856.608
10CH4     5495.073931     5508.193  5494.0       NaN  5342.690
deltaCH4   500.109236      501.814   499.5       NaN   486.050

### CH4 atmospheric loss [Tg/yr]

In [17]:
file = 'CH4_loss.txt'
df_ch4_loss = pd.read_csv(path + file, sep=';',index_col=0,header=0)
df_ch4_loss

            OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
CTRL      682.972311     742.3324  549.5713  582.2586  570.0145
10H2      680.300007     738.9528  547.4653  537.0809  568.1270
10CH4     727.967996     788.0606  587.6182       NaN  610.2255

### CH4 surface concentration [ppb]

In [18]:
file = 'CH4_surfconc.txt'
df_ch4_surfconc = pd.read_csv(path + file, sep=';',index_col=0,header=0)
delta = df_ch4_surfconc.loc['10CH4']-df_ch4_surfconc.loc['CTRL']
delta.name = 'deltaCH4'
df_ch4_surfconc = df_ch4_surfconc.append(delta)
df_ch4_surfconc

          OSLOCTM3  WACCM6-2deg    INCA  GFDL-emi         GFDL
Scenario
CTRL        1813.1     1807.800  1813.2    1803.6  1788.555778
10CH4       1994.4     1988.634  1994.5       NaN  1967.421667
deltaCH4     181.3      180.834   181.3       NaN   178.865889

### CH4 lifetime [yr]

In [19]:
df_ch4_lifetime = df_ch4_burden.drop('deltaCH4')/df_ch4_loss
df_ch4_lifetime

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
CTRL      7.313568     6.744120  9.087993  8.475615  8.520204
10H2      7.342394     6.775157  9.123135  9.188560  8.548455
10CH4     7.548510     6.989555  9.349608       NaN  8.755272

### Total CH4 lifetime [yr]

In [20]:
df_ch4_tot_lifetime = 1.0/(1.0/df_ch4_lifetime + 1.0/tau_strat + 1.0/tau_soil)
df_ch4_tot_lifetime

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
CTRL      6.608709     6.140219  8.024482  7.543249  7.578547
10H2      6.632237     6.165935  8.051869  8.102788  7.600890
10CH4     6.799955     6.343006  8.227765       NaN  7.763961

### CH4 flux (burden dived by total lifetime) [Tg/yr]

In [21]:
df_ch4_flux = df_ch4_burden.drop('deltaCH4')/df_ch4_tot_lifetime
#Add delta CH4 flux 10H2
delta = df_ch4_flux.loc['10H2']-df_ch4_flux.loc['CTRL']
delta.name = 'deltaH2'
df_ch4_flux = df_ch4_flux.append(delta)
#Add delta CH4 flux 10CH4
delta = df_ch4_flux.loc['10CH4']-df_ch4_flux.loc['CTRL']
delta.name = 'deltaCH4'
df_ch4_flux = df_ch4_flux.append(delta)
df_ch4_flux

            OSLOCTM3  WACCM6-2deg        INCA   GFDL-emi        GFDL
Scenario
CTRL      755.815546   815.342094  622.407758  654.22735  640.840500
10H2      753.144202   811.964565  620.303217  609.04965  638.952533
10CH4     808.104491   868.388415  667.739033        NaN  688.139729
deltaH2    -2.671344    -3.377529   -2.104542  -45.17770   -1.887967
deltaCH4   52.288944    53.046321   45.331275        NaN   47.299229

## Ozone results

### Ozone delta DU troposphere

The tropopause definition is the model layer in the control simulation where 150 ppbv ozone are reached.

In [22]:
file = 'ozone_du_trop.txt'
df_ozone_du_trop = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_trop

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
10H2      0.038463     0.027579  0.029285  0.729164  0.057538
10CH4     0.830869     0.859612  0.539447  0.762391  0.661762

### Ozone delta DU strat

In [23]:
file = 'ozone_du_strat.txt'
df_ozone_du_strat = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_strat

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
10H2      0.009863    -0.012748 -0.027429 -0.226384  0.066694
10CH4     0.829367     0.773137  0.352413  1.072883  0.776805

### Stratospheric ozone 60S-60N

In [24]:
file = 'ozone_du_strat_6060.txt'
df_ozone_du_strat_6060 = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_strat_6060

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
10H2      0.007298    -0.010969 -0.021125 -0.218416  0.024359
10CH4     0.629942     0.610131  0.276668  0.675913  0.570244

### Stratospheric ozone 90S-60S and 60N-90N

In [25]:
file = 'ozone_du_strat_gt60.txt'
df_ozone_du_strat_gt60 = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_du_strat_gt60

          OSLOCTM3  WACCM6-2deg      INCA  GFDL-emi      GFDL
Scenario
10H2      0.002565    -0.001779 -0.006304 -0.007968  0.042335
10CH4     0.232476     0.163006  0.075745  0.396970  0.206561

### Ozone RF

Ozone RF is calculated using a radiative kernel (Skeie et al 2020) and the modelled changes in ozone concentration.For GFDL-emi 10H2 RF is forcing calculated in the H2 perturbation and 10CH4 the forcing calculated by the H2+CH4 pert minus the H2 pert.

In [26]:
file = 'ozone_rf.txt'
df_ozone_rf = pd.read_csv(path+file, sep=';',index_col=0,header=0)
df_ozone_rf

          OSLOCTM3  WACCM6-2deg     INCA  GFDL-emi     GFDL
Scenario
10H2        1.8707       1.4121   1.1167   34.0088   3.4558
10CH4      40.9708      41.6999  22.5765   37.5865  33.3361

### Stratospheric H2O RF [mW m-2]

Stratospheric H2O RF calculated offline. Full calculations will be performed. So far only LW. Multiply by 0.85

In [27]:
file = 'H2O_rf.txt'
df_h2o_rf = pd.read_csv(path+file, sep=';',index_col=0,header=0)

#'NBNBNB multiply these numbers by 0.85
df_h2o_rf = df_h2o_rf.multiply(0.85)
df_h2o_rf

          OSLOCTM3  WACCM6-2deg    INCA  GFDL
Scenario
10H2        1.3515       0.5185  0.3995   NaN
10CH4       9.1800       2.8050  3.4000   NaN

In [28]:
#NBNBBN not multiply these numbers by 0.85'
file = 'H2O_rf_gfdl.txt'
h2o_rf_gfdl = pd.read_csv(path + file, sep=',',index_col=0,header=0)
h2o_rf_gfdl

                    GFDL
H2 [mW m-2]      28.2625
H2+CH4 [mW m-2]  53.1250


# Start calculations:

### Change in H2 surface conc. caused by 1 Tg H2/yr [ppb yr Tg-1]

This is not used for the GWP calculation. Only for the per flux table and for the feedback factor calulations.

In [29]:
df_surf_h2_per_h2_flux = df_h2_surfconc.loc['deltaH2']/df_h2_flux.loc['deltaH2']
df_surf_h2_per_h2_flux.name = 'surf_h2_per_h2_flux'
df_surf_h2_per_h2_flux

OSLOCTM3       6.232546
WACCM6-2deg    5.360287
INCA           7.394537
GFDL-emi       6.859004
GFDL           6.846944
Name: surf_h2_per_h2_flux, dtype: float64

### Change in CH4 flux caused by 1 TgH2 /yr (includes H2 feedback) [Tg CH4/Tg H2]:

The ch4_flux is multiplied by -1 due to.... Why this includes feedback...

In [30]:
df_ch4_flux_per_h2_flux = -1.0*df_ch4_flux.loc['deltaH2']/df_h2_flux.loc['deltaH2']
df_ch4_flux_per_h2_flux.name = 'ch4_flux_per_h2_flux'
df_ch4_flux_per_h2_flux

OSLOCTM3       0.312956
WACCM6-2deg    0.340458
INCA           0.292521
GFDL-emi       0.230133
GFDL           0.246431
Name: ch4_flux_per_h2_flux, dtype: float64

### Change in CH4 surface conc. caused by 1 Tg/yr CH4 [ppb yr/Tg CH4]

In [31]:
df_surf_ch4_per_ch4_flux =  df_ch4_surfconc.loc['deltaCH4']/df_ch4_flux.loc['deltaCH4']
df_surf_ch4_per_ch4_flux.name = 'surf_ch4_per_ch4_flux'
df_surf_ch4_per_ch4_flux

OSLOCTM3       3.467272
WACCM6-2deg    3.408983
INCA           3.999446
GFDL-emi            NaN
GFDL           3.781581
Name: surf_ch4_per_ch4_flux, dtype: float64

### Change in CH4 surf conc per emiss H2 [ppb yr /Tg H2]

In [32]:
df_surf_ch4_per_h2_flux = df_surf_ch4_per_ch4_flux*df_ch4_flux_per_h2_flux
df_surf_ch4_per_h2_flux.name = 'surf_ch4_per_h2_flux'

#Add GFDL:
#Increase in surface concentration CH4:
#1808 to 2005 ppbv
df_surf_ch4_per_h2_flux['GFDL-emi']= (2005.-1808.)/df_h2_flux['GFDL-emi'].loc['deltaH2']
df_surf_ch4_per_h2_flux

OSLOCTM3       1.085105
WACCM6-2deg    1.160615
INCA           1.169922
GFDL-emi       1.003508
GFDL           0.931900
Name: surf_ch4_per_h2_flux, dtype: float64

### Change in H2 flux caused by 1 TgCH4/yr [Tg H2/Tg CH4]

Why we multiply by -1

In [33]:
df_h2_flux_per_ch4_flux = -1.0*df_h2_flux.loc['deltaCH4']/df_ch4_flux.loc['deltaCH4']
df_h2_flux_per_ch4_flux.name = 'h2_flux_per_ch4_flux'
df_h2_flux_per_ch4_flux

OSLOCTM3       0.014420
WACCM6-2deg    0.016931
INCA           0.010820
GFDL-emi            NaN
GFDL           0.011059
Name: h2_flux_per_ch4_flux, dtype: float64

### HYDROGEN AGWP100 CH4 [mW m-2 yr Tg-1]

Explain why this is AGWP

In [34]:
df_h2_agwp_ch4 = df_surf_ch4_per_h2_flux*spec_rf_ch4
df_h2_agwp_ch4.name = 'h2_agwp_ch4'


#agwp_ch4 = RF per flux H2 (For the per flux table)
df_ch4_rf_per_h2_flux = df_surf_ch4_per_h2_flux*spec_rf_ch4
df_ch4_rf_per_h2_flux.name = 'ch4_rf_per_h2_flux'

### Initialize H2 GWP table

In [35]:
antmod = len(df_h2_agwp_ch4.index)
df_h2_gwp = pd.DataFrame(np.empty([5,antmod])*np.nan,columns=df_h2_agwp_ch4.index,
                         index=['O3','CH4','strat H2O','O3 CH4ind','strat H2O CH4ind'])

### Add methane GWP

In [36]:
df_h2_gwp.loc['CH4'] = df_h2_agwp_ch4/agwp100_CO2

### HYDROGEN AGWP100 strat H2O [mW m-2 yr Tg-1]

Explain that RF/flux equal AGWP..

In [37]:
df_h2_agwp_h2o = df_h2o_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_h2_agwp_h2o['GFDL-emi'] = h2o_rf_gfdl['GFDL'].loc['H2+CH4 [mW m-2]']/df_h2_flux['GFDL-emi'].loc['deltaH2']
df_h2_agwp_h2o.name = 'h2_agwp_h2o'

#NBNB GFDL methane induced is included.

In [38]:
#Add to the flux table
df_h2o_rf_per_h2_flux = df_h2o_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_h2o_rf_per_h2_flux.name= 'h2o_rf_per_h2_flux'
df_h2o_rf_per_h2_flux['GFDL-emi'] = h2o_rf_gfdl['GFDL'].loc['H2 [mW m-2]']/df_h2_flux['GFDL-emi'].loc['deltaH2']

#Strat H2O RF per methane flux (Move this to the methane part?)
df_h2o_rf_per_ch4_flux = df_h2o_rf.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_h2o_rf_per_ch4_flux.name = 'h2o_rf_per_ch4_flux'

### Add stratospheric H2O GWP

In [39]:
df_h2_gwp.loc['strat H2O'] = df_h2_agwp_h2o/agwp100_CO2

### HYDROGEN AGWP100 O3 [mW m-2 yr Tg-1]

In [40]:
df_h2_agwp_o3 = df_ozone_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_h2_agwp_o3.name = 'h2_agwp_o3'

#For GFDL-emi include the methane induced part.
df_h2_agwp_o3['GFDL-emi'] = (df_ozone_rf['GFDL-emi'].loc['10H2']+df_ozone_rf['GFDL-emi'].loc['10CH4'])/df_h2_flux['GFDL-emi'].loc['deltaH2']

In [41]:
#Similar, but use only the H2 Ozone RF for GFDL. To be used in the table:
df_ozone_rf_per_h2_flux = df_ozone_rf.loc['10H2']/df_h2_flux.loc['deltaH2']
df_ozone_rf_per_h2_flux.name= 'ozone_rf_per_h2_flux'

In [42]:
#Ozone RF per methane flux (move to the methane part?)
df_ozone_rf_per_ch4_flux = df_ozone_rf.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_ozone_rf_per_ch4_flux.name = 'ozone_rf_per_ch4_flux'

### Add Ozone GWP

In [43]:
df_h2_gwp.loc['O3'] = df_h2_agwp_o3/agwp100_CO2

### For the per flux table

In [44]:
df_trop_du_ozone_per_ch4_flux = df_ozone_du_trop.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_trop_du_ozone_per_ch4_flux.name = 'trop_du_ozone_per_ch4_flux'

df_strat_du_ozone_per_ch4_flux = df_ozone_du_strat.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_strat_du_ozone_per_ch4_flux.name = 'strat_du_ozone_per_ch4_flux'

df_trop_du_ozone_per_h2_flux = df_ozone_du_trop.loc['10H2']/df_h2_flux.loc['deltaH2']
df_trop_du_ozone_per_h2_flux.name = 'trop_du_ozone_per_h2_flux'

df_strat_du_ozone_per_h2_flux = df_ozone_du_strat.loc['10H2']/df_h2_flux.loc['deltaH2']
df_strat_du_ozone_per_h2_flux.name = 'strat_du_ozone_per_h2_flux'

In [45]:
df_strat_du_6060_ozone_per_ch4_flux = df_ozone_du_strat_6060.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_strat_du_6060_ozone_per_ch4_flux.name = 'strat_du_6060_ozone_per_ch4_flux'

df_strat_du_6060_ozone_per_h2_flux = df_ozone_du_strat_6060.loc['10H2']/df_h2_flux.loc['deltaH2']
df_strat_du_6060_ozone_per_h2_flux.name = 'strat_du_6060_ozone_per_h2_flux'

df_strat_du_gt60_ozone_per_ch4_flux = df_ozone_du_strat_gt60.loc['10CH4']/df_ch4_flux.loc['deltaCH4']
df_strat_du_gt60_ozone_per_ch4_flux.name = 'strat_du_gt60_ozone_per_ch4_flux'

df_strat_du_gt60_ozone_per_h2_flux = df_ozone_du_strat_gt60.loc['10H2']/df_h2_flux.loc['deltaH2']
df_strat_du_gt60_ozone_per_h2_flux.name = 'strat_du_gt60_ozone_per_h2_flux'

## Methane induced GWP:

### HYDROGEN AGWP100 methane induced O3 [mW m-2 yr Tg-1]

It does not matter here if we use surface concentration, burden, tropospheric concentration?

In [46]:
#Wm-2/ppbCH4*ppbCH4/TgH2yr-1 -> Wm-2/TgH2yr-1
df_h2_agwp_ch4ind_o3 = df_ozone_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_h2_flux
df_h2_agwp_ch4ind_o3.name = 'h2_agwp_ch4ind_o3'

### Add methane induced O3 GWP

In [47]:
df_h2_gwp.loc['O3 CH4ind'] = df_h2_agwp_ch4ind_o3/agwp100_CO2

### HYDROGEN AGWP100 methane induced strat H2O [mW m-2 yr Tg-1]

In [48]:
df_h2_agwp_ch4ind_h2o = df_h2o_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_h2_flux
df_h2_agwp_ch4ind_h2o.name = 'h2_agwp_ch4ind_h2o'

### Add methane induced strat H2O GWP

In [49]:
df_h2_gwp.loc['strat H2O CH4ind'] = df_h2_agwp_ch4ind_h2o/agwp100_CO2

# Methane GWP

Initialize CH4 GWP

In [50]:
antmod = len(df_h2_agwp_ch4.index)
df_ch4_gwp = pd.DataFrame(np.empty([4,antmod])*np.nan,columns=df_h2_agwp_ch4.index,
                         index=['O3','CH4','strat H2O','H2'])
#df_ch4_gwp

### Methane AGWP100 O3 [mW m-2 yr Tg-1]

Integrated O3 from CH4 RF [W m-2 yr Tg-1]

In [51]:
df_ch4_agwp_o3 = df_ozone_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_ch4_flux
df_ch4_agwp_o3.name = 'ch4_agwp_o3'

### Add ozone GWP

In [52]:
df_ch4_gwp.loc['O3'] =df_ch4_agwp_o3/agwp100_CO2 
#df_ch4_gwp

### Methane AGWP100 Methane [mW m-2 yr Tg-1]

In [53]:
df_ch4_agwp =df_surf_ch4_per_ch4_flux*spec_rf_ch4
df_ch4_agwp.name = 'ch4_agwp'

### Add methane GWP

In [54]:
#Add Methane GWP:
df_ch4_gwp.loc['CH4'] =df_ch4_agwp/agwp100_CO2 
#df_ch4_gwp

### Methane AGWP100 strat H2O [mW m-2 yr Tg-1]

In [55]:
print(df_h2o_rf.loc['10CH4'])
df_ch4_agwp_h2o = df_h2o_rf.loc['10CH4']/df_ch4_surfconc.loc['deltaCH4']*df_surf_ch4_per_ch4_flux
df_ch4_agwp_h2o.name = 'ch4_agwp_h2o'

OSLOCTM3       9.180
WACCM6-2deg    2.805
INCA           3.400
GFDL             NaN
Name: 10CH4, dtype: float64

### Add Strat H2O GWP:

In [56]:
df_ch4_gwp.loc['strat H2O'] = df_ch4_agwp_h2o/agwp100_CO2
#df_ch4_gwp

### Add GWP via H2

In [57]:
df_ch4_gwp.loc['H2'] = df_h2_flux_per_ch4_flux*df_h2_gwp.sum()

# Main results and tabels

## H2 GWP 100

In [58]:
#Save to file:
#print(outputpath + 'table_h2_gwp.csv')
df_h2_gwp.to_csv(outputpath + 'table_h2_gwp.csv')
df_h2_gwp.loc['total']=df_h2_gwp.sum()
df_h2_gwp

                   OSLOCTM3  WACCM6-2deg      INCA   GFDL-emi       GFDL
O3                 2.389949     1.552245  1.692648   3.977131   4.919045
CH4                5.242109     5.606897  5.651857   4.847919   4.501981
strat H2O          1.726635     0.569959  0.605546   2.951103        NaN
O3 CH4ind          2.674108     2.918595  1.588716        NaN   1.894032
strat H2O CH4ind   0.599166     0.196323  0.239259        NaN        NaN
total             12.631968    10.844019  9.778025  11.776152  11.315057

## CH4 GWP 100

In [59]:
df_ch4_gwp.to_csv(outputpath + 'table_ch4_gwp.csv')
df_ch4_gwp.loc['total']=df_ch4_gwp.sum()
df_ch4_gwp

            OSLOCTM3  WACCM6-2deg       INCA  GFDL-emi       GFDL
O3          8.544669     8.572558   5.431119       NaN   7.685841
CH4        16.750290    16.468696  19.321207       NaN  18.268709
strat H2O   1.914536     0.576645   0.817922       NaN        NaN
H2          0.182150     0.183603   0.105802       NaN   0.125133
total      27.391644    25.801501  25.676050       0.0  26.079682

## Table per flux H2

In [60]:
df_per_flux_h2 = pd.concat([df_h2_flux.loc['deltaH2'],df_surf_h2_per_h2_flux,
                            df_surf_ch4_per_h2_flux,df_ch4_flux_per_h2_flux,df_ch4_rf_per_h2_flux,
                            df_trop_du_ozone_per_h2_flux,df_strat_du_ozone_per_h2_flux,
                            df_strat_du_6060_ozone_per_h2_flux,df_strat_du_gt60_ozone_per_h2_flux,
                            df_ozone_rf_per_h2_flux,df_h2o_rf_per_h2_flux],axis=1, sort=False)

#Save to file:
df_per_flux_h2.to_csv(outputpath + 'table_per_flux_h2.csv')

#Rename the columns:
columns_names={'deltaH2':'Flux H2 [Tg/yr]',
               'surf_h2_per_h2_flux': 'Surf. conc. H2 per flux [ppb yr/Tg]',
               'surf_ch4_per_h2_flux':'Surf. conc. CH4 per flux [ppb yr/Tg]',
               'ch4_flux_per_h2_flux':'Flux CH4/Flux H2 [Tg CH4/Tg H2]',
               'ch4_rf_per_h2_flux':'CH4 RF per flux [mW m-2 yr/ Tg]',
               'trop_du_ozone_per_h2_flux':'Trop. ozone per flux [DU yr/Tg]',
               'strat_du_ozone_per_h2_flux':'Strat. ozone per flux [DU yr/Tg]',
               'strat_du_6060_ozone_per_h2_flux':'Strat. ozone 60S-60N per flux [DU yr/Tg]',
               'strat_du_gt60_ozone_per_h2_flux':'Strat. ozone >60S/N per flux [DU yr/Tg]',
               'ozone_rf_per_h2_flux':'ozone RF per flux [mW m-2 yr/ Tg]',
               'h2o_rf_per_h2_flux':'Strat. H2O RF per flux [mW m-2 yr/ Tg]'}
#Possibility to rename column names:
df_per_flux_h2.rename(columns=dict(columns_names),inplace=True) #[df_per_flux_h2.columns])
df_per_flux_h2

,Flux H2 [Tg/yr],Surf. conc. H2 per flux [ppb yr/Tg],Surf. conc. CH4 per flux [ppb yr/Tg],Flux CH4/Flux H2 [Tg CH4/Tg H2],CH4 RF per flux [mW m-2 yr/ Tg],Trop. ozone per flux [DU yr/Tg],Strat. ozone per flux [DU yr/Tg],Strat. ozone 60S-60N per flux [DU yr/Tg],Strat. ozone >60S/N per flux [DU yr/Tg],ozone RF per flux [mW m-2 yr/ Tg],Strat. H2O RF per flux [mW m-2 yr/ Tg]
OSLOCTM3,8.535837,6.232546,1.085105,0.312956,0.480701,0.004506,0.001156,0.000855,0.000301,0.219158,0.158332
WACCM6-2deg,9.920550,5.360287,1.160615,0.340458,0.514152,0.002780,-0.001285,-0.001106,-0.000179,0.142341,0.052265
INCA,7.194500,7.394537,1.169922,0.292521,0.518275,0.004070,-0.003812,-0.002936,-0.000876,0.155216,0.055529
GFDL-emi,196.311300,6.859004,1.003508,0.230133,0.444554,0.003714,-0.001153,-0.001113,-0.000041,0.173239,0.143968
GFDL,7.661230,6.846944,0.931900,0.246431,0.412832,0.007510,0.008705,0.003180,0.005526,0.451076,NaN

## Table per flux CH4

To do: fix the table headings in the table (as for H2 above)

In [61]:
df_per_flux_ch4 = pd.concat([df_ch4_flux.loc['deltaCH4'],df_surf_ch4_per_ch4_flux,
                             df_h2_flux_per_ch4_flux,df_trop_du_ozone_per_ch4_flux,df_strat_du_ozone_per_ch4_flux,
                             df_strat_du_6060_ozone_per_ch4_flux,df_strat_du_gt60_ozone_per_ch4_flux,
                             df_ozone_rf_per_ch4_flux,df_h2o_rf_per_ch4_flux],axis=1,sort=False)

#Save to file:
df_per_flux_ch4.to_csv(outputpath + 'table_per_flux_ch4.csv')
df_per_flux_ch4

,deltaCH4,surf_ch4_per_ch4_flux,h2_flux_per_ch4_flux,trop_du_ozone_per_ch4_flux,strat_du_ozone_per_ch4_flux,strat_du_6060_ozone_per_ch4_flux,strat_du_gt60_ozone_per_ch4_flux,ozone_rf_per_ch4_flux,h2o_rf_per_ch4_flux
OSLOCTM3,52.288944,3.467272,0.014420,0.015890,0.015861,0.012047,0.004446,0.783546,0.175563
WACCM6-2deg,53.046321,3.408983,0.016931,0.016205,0.014575,0.011502,0.003073,0.786104,0.052878
INCA,45.331275,3.999446,0.010820,0.011900,0.007774,0.006103,0.001671,0.498034,0.075003
GFDL-emi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GFDL,47.299229,3.781581,0.011059,0.013991,0.016423,0.012056,0.004367,0.704792,NaN

## H2 budget tabel

In [62]:
df_budget_h2 = pd.concat([df_h2_burden.loc['CTRL'],df_h2_lifetime.loc['CTRL'],
                          df_h2_atmloss.loc['CTRL'],df_h2_drydep.loc['CTRL'],
                          df_h2_atmprod.loc['CTRL'],df_h2_atm_lifetime.loc['CTRL'],
                          df_h2_estemis],axis=1)

df_budget_h2.columns = ['H2 burden [Tg]',
                        'H2 lifetime [yrs]',
                        'H2 atm.loss[Tg/yr]',
                        'H2 drydep [Tg/yr]',
                        'H2 atm. prod [Tg/yr]',
                        'H2 atmospheric lifetime [yrs]',
                        'H2 estimated emissions [Tg/yr]']

df_budget_h2.to_csv(outputpath + 'table_budget_h2.csv')
df_budget_h2

,H2 burden [Tg],H2 lifetime [yrs],H2 atm.loss[Tg/yr],H2 drydep [Tg/yr],H2 atm. prod [Tg/yr],H2 atmospheric lifetime [yrs],H2 estimated emissions [Tg/yr]
OSLOCTM3,196.210864,2.231997,28.38965,59.518555,56.323356,6.911352,31.584848
WACCM6-2deg,194.398700,1.906442,29.51206,72.457300,34.629870,6.587094,67.339490
INCA,194.400000,2.620455,22.12560,52.060000,46.678000,8.786202,27.507600
GFDL-emi,191.700000,2.496611,22.12410,54.660000,44.684000,8.664759,32.100100
GFDL,187.199800,2.390754,21.53456,56.767000,44.658480,8.692994,33.643080

## CH4 budget tabel

In [63]:
df_budget_ch4 = pd.concat([df_ch4_burden.loc['CTRL'],df_ch4_lifetime.loc['CTRL'],
                           df_ch4_loss.loc['CTRL']],axis=1)
df_budget_ch4.columns = ['CH4 burden [Tg]','CH4 lifetime [yrs]','CH4 atm.loss[Tg/yr]'] 
df_budget_ch4

             CH4 burden [Tg]  CH4 lifetime [yrs]  CH4 atm.loss[Tg/yr]
OSLOCTM3         4994.964696            7.313568           682.972311
WACCM6-2deg      5006.379000            6.744120           742.332400
INCA             4994.500000            9.087993           549.571300
GFDL-emi         4935.000000            8.475615           582.258600
GFDL             4856.640000            8.520204           570.014500

# Other results/checks:

## Methane feedback factor:

### Atmospheric mass conversion CH4  [Tg/ppb] (from perturbations)

In [64]:
df_ch4_burden_per_conc  = df_ch4_burden.loc['deltaCH4']/df_ch4_surfconc.loc['deltaCH4']
df_ch4_burden_per_conc.name = 'ch4_burden_per_conc'
df_ch4_burden_per_conc

OSLOCTM3       2.758462
WACCM6-2deg    2.774998
INCA           2.755102
GFDL-emi            NaN
GFDL           2.717399
Name: ch4_burden_per_conc, dtype: float64

### Increase per unit flux w/o feedback = integrated decay [ppb yr/Tg]

Add explanation...

In [65]:
df_w_o_feedback =df_ch4_lifetime.loc['CTRL']/df_ch4_burden_per_conc #Lifetime [yr] / [Tg/ppb] 
df_w_o_feedback

OSLOCTM3       2.651321
WACCM6-2deg    2.430315
INCA           3.298605
GFDL-emi            NaN
GFDL           3.135426
dtype: float64

### Feedback factor: increase CH4 with feedback/ increase CH4 without feedback

In [66]:
df_feedback_factor_ch4 = df_surf_ch4_per_ch4_flux/df_w_o_feedback
df_feedback_factor_ch4.name = 'feedback_factor_ch4'
df_feedback_factor_ch4

OSLOCTM3       1.307753
WACCM6-2deg    1.402692
INCA           1.212466
GFDL-emi            NaN
GFDL           1.206082
Name: feedback_factor_ch4, dtype: float64

## Hydrogen feedback factor:

### Atmospheric mass conversion H2  [Tg/ppb] (from perturbations)

In [67]:
df_h2_burden_per_conc  = df_h2_burden.loc['deltaH2']/df_h2_surfconc.loc['deltaH2']
df_h2_burden_per_conc.name = 'h2_burden_per_conc'
df_h2_burden_per_conc

OSLOCTM3       0.350572
WACCM6-2deg    0.349781
INCA           0.349624
GFDL-emi       0.344523
GFDL           0.346351
Name: h2_burden_per_conc, dtype: float64

### Increase per unit flux w/o feedback = integrated decay [ppb yr/Tg]

In [68]:
df_w_o_feedback_h2 =df_h2_lifetime.loc['CTRL']/df_h2_burden_per_conc #Lifetime [yr] / [Tg/ppb] 
df_w_o_feedback_h2

OSLOCTM3       6.366738
WACCM6-2deg    5.450390
INCA           7.495064
GFDL-emi       7.246575
GFDL           6.902690
dtype: float64

### Feedback factor: increase H2 with feedback/ increase H2 without feedback

In [69]:
df_feedback_factor_h2 = df_surf_h2_per_h2_flux/df_w_o_feedback_h2
df_feedback_factor_h2.name = 'feedback_factor_h2'
df_feedback_factor_h2
#Fabien wrote in the paper about feedback factor less than 1.

OSLOCTM3       0.978923
WACCM6-2deg    0.983469
INCA           0.986588
GFDL-emi       0.946517
GFDL           0.991924
Name: feedback_factor_h2, dtype: float64